/* Réduire la taille de police globale pour les composants Vaadin */
:root {
  --lumo-font-size-xs: 0.75rem;
  --lumo-font-size-s: 0.875rem;
  --lumo-font-size-m: 1rem;
  --lumo-font-size-l: 1.125rem;
  --lumo-font-size-xl: 1.375rem;
}
/* Définir la couleur de fond rouge pour les composants Vaadin */
[theme~="dark"] {
  --lumo-base-color: white; 
}

/* Ajout de styles pour les tableaux */
table {
  border-collapse: collapse; /* Pour un aspect compact */
  width: 100%; /* Prendre toute la largeur disponible */
  font-family: monospace; /* Utiliser une police monospace */
  background-color: #1e1e1e; /* Couleur de fond sombre */
  color: #ffffff; /* Couleur du texte */
}

th, td {
  border: 1px solid #444; /* Bordure sombre */
  padding: 8px; /* Espacement interne */
  text-align: left; /* Alignement à gauche */
}

th {
  background-color: #333; /* Couleur de fond pour les en-têtes */
}

tr:nth-child(even) {
  background-color: #2a2a2a; /* Couleur de fond pour les lignes paires */
}



